version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: flipkart_clone_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flipkart_clone
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysqldata:/var/lib/mysql

volumes:
  mysqldata:
